
#main.container
	.row
		.col-md-6
			%h1 Hello admin, here is your dashboard where you can create questions

			= link_to 'create questions', new_question_path  
			%br
			= link_to 'create job', new_job_path 
			%br
			%br
			= link_to "logout",destroy_user_session_path,method: :delete, data:{confirm: "Are You Sure?" }   

