#main.container
	.row
		.col-md-6.col-xs-offset-2
			%h3 Categories of Questions
			%a.btn.btn-large.btn-success{href: '/categories/new', role: "button"} Add Q Section
			%table.table.table-hover
				%thead
					%tr
						%th Q Section Name
						%th Details
				%tbody
					%tr
				- @category.each do |c|
					%tr
						%td= c.category_type
						%td= 1
					

